@page
@model GroupControlModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.GroupControl;
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <select asp-items="Model.UserAccessToGroup" class="form-control-chosen ddlUserAccessToGroup"></select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="divUserAccessToGroup">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form-control-chosen').chosen();
            generateContent();
        });
        function generateContent() {
            var UserID = $(".ddlUserAccessToGroup").chosen().val();
            $('.divUserAccessToGroup').load('?handler=UserAccessToGroup', "UserID=" + UserID);
        }
    </script>
}