@page
@model GroupControlModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.GroupControl;
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <select asp-items="Model.UserAccessToGroup" class="form-control-chosen ddlUserAccessToGroup"></select>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.form-control-chosen').chosen();
            generateContent();
        });
        function generateContent() {
            $.ajax({
                dataType: 'json',
                url: window.location.pathname,
                type: 'POST',
                data: {
                    UserID: $(".ddlUserAccessToGroup").chosen().val()
                },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    console.log(response)
                },
                error: function (ex) {
                    alert("AJAX Request Failed, Contact Support");
                    console.log(ex);
                }
            });
        }
    </script>
}