@model List<DatePot.Areas.FoodPot.Models.Food.RandomRestaurant>
<form method="post" asp-page-handler="RestaurantAttended">
    @if (Model.Count > 0)
    {
        <div class="modal-body">
            @foreach (var item in Model)
            {

                <input value="@item.RestaurantID" type="hidden" name="RestaurantID" />
                <p>
                    Today you guys are going to <strong>@item.RestaurantName</strong> in @item.LocationText. It is @item.ExpenseText.  Enjoy! 🥐🥗🥙🤤
                </p>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="return RandomRestaurant();">No, another!!</button>
            <input type="submit" value="Let's do it!" class="btn btn-primary btnFoodButtons" />
        </div>
    }
    else
    {
        <div class="modal-body">
            <p>Looks like you are out of that type of restaurant. Add more to Restaurants to the list and try again!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Will do boss</button>
        </div>
    }
</form>