@page
@model ConfirmGroupAccessModel
@{
    ViewData["Title"] = "Accept invite";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thanks for accepting the invite! Now you can share all the best things with the people you hold dearest! ☮
</p>