@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thanks for confirming your email address, now you can log in, join the gang, have some fun. 😘
</p>
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
