/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.section {
    border-radius: 5px;
    height: 100px;
    font-size: 29pt;
    color: black;
}

.section:hover {
    text-decoration: none;
}
.btnAddRestaurant {
    background-color: #e8a79a !important;
    border: none !important;
}
.btnAddFoodType {
    background-color: #e8a79a !important;
    border: none !important;
}
.btnAddWhen {
    background-color: #e8a79a !important;
    border: none !important;
}
.btnRandomRestaurant {
    background-color: #e8a79a !important;
    border: none !important;
}
.table .thead-dark th{
    background-color: #eb6e67 !important;
    border: none !important;
}
.table-stripedFoodPot tbody tr:nth-of-type(odd) {
    background-color: #f6dbd8 !important;
    border: none !important;
}
.table-stripedFoodPot tbody tr:nth-of-type(even) {
    background-color: #fad0be !important;
    border: none !important;
}


.btnAddFilm {
    background-color: #51bbbb !important;
    border: none !important;
}
.btnAddGenre {
    background-color: #51bbbb !important;
    border: none !important;
}
.btnAddDirector {
    background-color: #51bbbb !important;
    border: none !important;
}
.btnRandomFilm {
    background-color: #51bbbb !important;
    border: none !important;
}
.table .thead-darkfilmtable th{
    background-color: #874f5e !important;
    border: none !important;
}
.table-stripedFilmPot tbody tr:nth-of-type(odd){
    background-color: #e8c5c5 !important;
    border: none !important;
}
.table-stripedFilmPot tbody tr:nth-of-type(even) {
    background-color: #eaecd5 !important;
    border: none !important;
}
.text-black {
    color: black !important;
}


.btnAddCoffeeModal {
    background-color: #fab83c !important;
    border: none !important;
}
.table .thead-darkCoffeetable {
    background-color: #c2905e !important;
    border: none !important;
}
.table-stripedCoffeePot tbody tr:nth-of-type(odd) {
    background-color: #fef6e3 !important;
    border: none !important;
}

.table-stripedCoffeePot tbody tr:nth-of-type(even) {
    background-color: #fee7c8 !important;
    border: none !important;
}