@page
@model DatePot.Pages.IndexModel
@{
    ViewBag.Title = "Which service";
}
<div class="row pb-5">
    <div class="col-8 offset-2 section" style="background-color: #ffccff">
        <a asp-area="FilmPot" asp-page="/Index">
            <div class="row text-black">
                <div class="col-6">
                    <p class="ml-4 pt-3 float-right">Film</p>
                </div>
                <div class="col-6">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle mt-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row pb-5">
    <div class="col-8 offset-2 section" style="background-color:#9ec9ed">
        <a asp-area="FoodPot" asp-page="/Index">
            <div class="row text-black">
                <div class="col-6">
                    <p class="ml-4 pt-3 float-right">Food</p>
                </div>
                <div class="col-6">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle mt-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row pb-5">
    <div class="col-8 offset-2 section" style="background-color: #f9f19a">
        <a asp-area="ActivityPot" asp-page="/Index">
            <div class="row text-black">
                <div class="col-6">
                    <p class="ml-4 pt-3 float-right">Activity</p>
                </div>
                <div class="col-6">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle mt-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row pb-5">
    <div class="col-8 offset-2 section"style="background-color: #754043">
        <a asp-area="CoffeePot" asp-page="/Index">
            <div class="row text-black">
                <div class="col-6">
                    <p class="ml-4 pt-3 float-right">Coffee</p>
                </div>
                <div class="col-6">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle mt-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row pb-5">
    <div class="col-8 offset-2 section"style="background-color: #754043">
        <a asp-area="VinylPot" asp-page="/Index">
            <div class="row text-black">
                <div class="col-6">
                    <p class="ml-4 pt-3 float-right">Vinyls</p>
                </div>
                <div class="col-6">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle mt-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
</div>

